<p id="notice"><%= notice %></p>

<p>
  <b>Lat:</b>
  <%= @weather.lat %>
</p>

<p>
  <b>Long:</b>
  <%= @weather.long %>
</p>

<p>
  <b>Url:</b>
  <%= @weather.url %>
</p>


<%= link_to 'Edit', edit_weather_path(@weather) %> |
<%= link_to 'Back', weathers_path %>
